In [3]:
import numpy as np

In [4]:
arr1 = np.random.randn(2, 3)
arr1

array([[-0.11853575, -1.40847133,  0.18456722],
       [-0.64907774, -1.17767786,  1.1546429 ]])

In [6]:
import pandas as pd

In [7]:
sample = pd.read_csv("/workspaces/DScourse/CourseMaterials/Data/sberbank_russian_housing_market/macro.csv")

In [8]:
sample.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN

In [11]:
sample.timestamp

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-05
           ...
2479    2016-10-15
2480    2016-10-16
2481    2016-10-17
2482    2016-10-18
2483    2016-10-19
Name: timestamp, Length: 2484, dtype: object

In [13]:
sample[["timestamp", "oil_urals"]].head()

    timestamp  oil_urals
0  2010-01-01       76.1
1  2010-01-02       76.1
2  2010-01-03       76.1
3  2010-01-04       76.1
4  2010-01-05       76.1

In [17]:
sample.T.head()

,0,1,2,3,4,5,6,7,8,9,...,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483
timestamp,2010-01-01,2010-01-02,2010-01-03,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-09,2010-01-10,...,2016-10-10,2016-10-11,2016-10-12,2016-10-13,2016-10-14,2016-10-15,2016-10-16,2016-10-17,2016-10-18,2016-10-19
oil_urals,76.1,76.1,76.1,76.1,76.1,76.1,76.1,76.1,76.1,76.1,...,44.3677,44.3677,44.3677,44.3677,44.3677,44.3677,44.3677,44.3677,44.3677,44.3677
gdp_quart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19979.4,19979.4,19979.4,19979.4,19979.4,19979.4,19979.4,19979.4,19979.4,19979.4
gdp_quart_growth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.6,-0.6,-0.6,-0.6,-0.6,-0.6,-0.6,-0.6,-0.6,-0.6
cpi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,531.0,531.0,531.0,531.0,531.0,531.0,531.0,531.0,531.0,531.0

In [18]:
sample.values

array([['2010-01-01', 76.1, nan, ..., 63.03, 22825.0, nan],
       ['2010-01-02', 76.1, nan, ..., 63.03, 22825.0, nan],
       ['2010-01-03', 76.1, nan, ..., 63.03, 22825.0, nan],
       ...,
       ['2016-10-17', 44.3677, 19979.4, ..., nan, nan, nan],
       ['2016-10-18', 44.3677, 19979.4, ..., nan, nan, nan],
       ['2016-10-19', 44.3677, 19979.4, ..., nan, nan, nan]], dtype=object)

In [23]:
labels = sample.columns[:4]
labels

Index(['timestamp', 'oil_urals', 'gdp_quart', 'gdp_quart_growth'], dtype='object')

In [25]:
sample2 = sample.reindex(np.arange(1, 2485))
sample2.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
5,2010-01-06,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.715,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN

In [52]:
sr = sample['cpi']

sr

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
2479    531.0
2480    531.0
2481    531.0
2482    531.0
2483    531.0
Name: cpi, Length: 2484, dtype: float64