In [1]:
import pandas as pd
import numpy as np

%reload_ext autoreload
%autoreload 2

In [2]:
df = pd.read_csv('/workspaces/DScourse/CourseMaterials/Python_Pandas/data/health_data.csv')

# Meeting 6: `apply` and `lambda` Exercises

### Easy Questions
1. How do you use `apply` with a lambda function to add 10 to each `weight` value?

In [3]:
print(df['weight'].head())

df_weight_modified = df.copy()

df_weight_modified['weight'].apply(lambda x: x + 10).to_frame().rename(columns={'weight': 'weight + 10'}).head()

0    65.6
1    71.8
2    80.7
3    72.6
4    78.8
Name: weight, dtype: float64

   weight + 10
0         75.6
1         81.8
2         90.7
3         82.6
4         88.8

2. Write a query to convert all `height` values from centimeters to inches using `apply`.

In [4]:
# Display the first 5 rows of the height column
print(df['height'].head())

# Copy the dataframe to a new dataframe
df_height_modified = df.copy()

# Convert the height column to inches, convert to DataFrame, and rename the column to height_inch
df_height_modified['height'].apply(lambda x: x / 2.54).to_frame().rename(columns={'height': 'height_inch'}).head()

0    174.0
1    175.3
2    193.5
3    186.5
4    187.2
Name: height, dtype: float64

   height_inch
0    68.503937
1    69.015748
2    76.181102
3    73.425197
4    73.700787

3. How can you use a lambda function to categorize `weight` into 'light' and 'heavy'?

In [5]:
# Copy the dataframe to a new dataframe
df_weight_categorized = df.copy()

# Calculate the mean of the weight column
weight_mean = df_weight_categorized['weight'].mean()

# Create a new column called weight category, which is heavy if the weight is over the mean, and light otherwise
df_weight_categorized['weight category'] = df_weight_categorized['weight'].apply(lambda x: 'heavy' if x > weight_mean else 'light')

# Display the first 5 rows of the modified dataframe
df_weight_categorized.head()

   weight  height  gender weight category
0    65.6   174.0       1           light
1    71.8   175.3       1           heavy
2    80.7   193.5       1           heavy
3    72.6   186.5       1           heavy
4    78.8   187.2       1           heavy

4. Show how to use `apply` to calculate the Body Mass Index (BMI) for each row.

In [6]:
df['bmi'] = df.apply(lambda row: round(row['weight'] / (row['height'] / 100) ** 2, 2), axis=1)
df.head()

   weight  height  gender    bmi
0    65.6   174.0       1  21.67
1    71.8   175.3       1  23.36
2    80.7   193.5       1  21.55
3    72.6   186.5       1  20.87
4    78.8   187.2       1  22.49

5. Can you convert `gender` values to uppercase using `apply` and a lambda function?

In [7]:
# Reorder the columns of the dataframe and rename the gender column
df.rename(columns={'gender': 'gender_#'}, inplace=True)
df = df[['weight', 'height', 'bmi', 'gender_#']]

# Add a gender column where 0 = male and 1 = female
df['gender'] = df['gender_#'].apply(lambda x: 'Male' if x == 0 else 'Female')
df

     weight  height    bmi  gender_#  gender
0      65.6   174.0  21.67         1  Female
1      71.8   175.3  23.36         1  Female
2      80.7   193.5  21.55         1  Female
3      72.6   186.5  20.87         1  Female
4      78.8   187.2  22.49         1  Female
..      ...     ...    ...       ...     ...
502    71.8   176.5  23.05         0    Male
503    55.5   164.4  20.53         0    Male
504    48.6   160.7  18.82         0    Male
505    66.4   174.0  21.93         0    Male
506    67.3   163.8  25.08         0    Male

[507 rows x 5 columns]

In [8]:
df_upper = df.copy()

df_upper['gender'] = df_upper['gender'].apply(lambda x: x.upper())
df_upper

     weight  height    bmi  gender_#  gender
0      65.6   174.0  21.67         1  FEMALE
1      71.8   175.3  23.36         1  FEMALE
2      80.7   193.5  21.55         1  FEMALE
3      72.6   186.5  20.87         1  FEMALE
4      78.8   187.2  22.49         1  FEMALE
..      ...     ...    ...       ...     ...
502    71.8   176.5  23.05         0    MALE
503    55.5   164.4  20.53         0    MALE
504    48.6   160.7  18.82         0    MALE
505    66.4   174.0  21.93         0    MALE
506    67.3   163.8  25.08         0    MALE

[507 rows x 5 columns]

6. Demonstrate how to use `apply` to round off all `height` values to the nearest integer.

In [9]:
df_height_rounded = df.copy()

df_height_rounded['height'] = df_height_rounded['height'].apply(lambda x: round(x))
df_height_rounded.head()

   weight  height    bmi  gender_#  gender
0    65.6     174  21.67         1  Female
1    71.8     175  23.36         1  Female
2    80.7     194  21.55         1  Female
3    72.6     186  20.87         1  Female
4    78.8     187  22.49         1  Female

7. How do you use a lambda function to classify `height` into 'short', 'medium', and 'tall'?

In [12]:
# Create a copy of the DataFrame as df_height_classified
df_height_classified = df.copy()

# Create quartiles of the height column
quantiles = df_height_classified['height'].quantile([0.25, 0.5, 0.75])

# Create a new column called height_class, which is short if the height is less than the first quartile, 
# medium if less than the third quartile, and tall otherwise
df_height_classified['height_class'] = df_height_classified['height'].apply(
    lambda x: 'short' if x < quantiles[0.25] else 'medium' if x < quantiles[0.75] else 'tall'
    )

df_height_classified

     weight  height    bmi  gender_#  gender height_class
0      65.6   174.0  21.67         1  Female       medium
1      71.8   175.3  23.36         1  Female       medium
2      80.7   193.5  21.55         1  Female         tall
3      72.6   186.5  20.87         1  Female         tall
4      78.8   187.2  22.49         1  Female         tall
..      ...     ...    ...       ...     ...          ...
502    71.8   176.5  23.05         0    Male       medium
503    55.5   164.4  20.53         0    Male       medium
504    48.6   160.7  18.82         0    Male        short
505    66.4   174.0  21.93         0    Male       medium
506    67.3   163.8  25.08         0    Male       medium

[507 rows x 6 columns]

8. Write a lambda function within `apply` to subtract the mean `weight` from each weight value.

In [25]:
df_weight_subtracted = df.copy()

mean_weight = df_weight_subtracted['weight'].mean()

df_weight_subtracted['weight'] = df_weight_subtracted['weight'].apply(lambda x: x - mean_weight if x >= mean_weight else x == 0)
df_weight_subtracted

        weight  height    bmi  gender_#  gender
0        False   174.0  21.67         1  Female
1     2.652465   175.3  23.36         1  Female
2    11.552465   193.5  21.55         1  Female
3     3.452465   186.5  20.87         1  Female
4     9.652465   187.2  22.49         1  Female
..         ...     ...    ...       ...     ...
502   2.652465   176.5  23.05         0    Male
503      False   164.4  20.53         0    Male
504      False   160.7  18.82         0    Male
505      False   174.0  21.93         0    Male
506      False   163.8  25.08         0    Male

[507 rows x 5 columns]

9. Show how to use `apply` to create a new column indicating if `weight` is above average.

In [37]:
# Create a copy of the DataFrame as df_weight_categorized
df_weight_categorized = df.copy()

# Calculate the mean of the weight column
weight_mean = df_weight_categorized['weight'].mean()

# Create a new column called weight category, which is above Average if the weight is over the mean, and false otherwise
df_weight_categorized['weight category'] = df_weight_categorized['weight'].apply(lambda x: 'above Average' if x > weight_mean else x == '')

# Display the first 5 rows of the modified dataframe
df_weight_categorized.head()

   weight  height    bmi  gender_#  gender weight category
0    65.6   174.0  21.67         1  Female           False
1    71.8   175.3  23.36         1  Female   above Average
2    80.7   193.5  21.55         1  Female   above Average
3    72.6   186.5  20.87         1  Female   above Average
4    78.8   187.2  22.49         1  Female   above Average

10. Can you use a lambda function to calculate the weight-to-height ratio for each row?

In [40]:
# Create a copy of the DataFrame as df_ratio
df_ratio = df.copy()

# Create a new column called WT to HT ratio, which is the weight divided by the height
df_ratio['WT to HT ratio'] = df_ratio.apply(lambda row: round(row['weight'] / row['height'], 2), axis=1)

# Display the first 5 rows of the modified DataFrame
df_ratio.head()

   weight  height    bmi  gender_#  gender  WT to HT ratio
0    65.6   174.0  21.67         1  Female            0.38
1    71.8   175.3  23.36         1  Female            0.41
2    80.7   193.5  21.55         1  Female            0.42
3    72.6   186.5  20.87         1  Female            0.39
4    78.8   187.2  22.49         1  Female            0.42

### Medium Questions
11. How do you use `apply` with a lambda function to standardize (z-score) `weight` values?

In [43]:
# Create a copy of the DataFrame as df_weight_sdt
df_weight_sdt = df.copy()

# Create a new column called weight, which is the weight column standardized
df_weight_sdt['weight'] = df_weight_sdt['weight'].apply(lambda x: (x - df_weight_sdt['weight'].mean()) / df_weight_sdt['weight'].std())

# Display the first 5 rows of the modified DataFrame
df_weight_sdt.head()

     weight  height    bmi  gender_#  gender
0 -0.265817   174.0  21.67         1  Female
1  0.198750   175.3  23.36         1  Female
2  0.865628   193.5  21.55         1  Female
3  0.258694   186.5  20.87         1  Female
4  0.723261   187.2  22.49         1  Female

12. Write a query using `apply` to find the difference between each `weight` and the max weight.

In [50]:
df_weight_diff = df.copy()

df_weight_diff['weight'].apply(lambda x: df_weight_diff['weight'].max() - x)

0      50.8
1      44.6
2      35.7
3      43.8
4      37.6
       ...
502    44.6
503    60.9
504    67.8
505    50.0
506    49.1
Name: weight, Length: 507, dtype: float64

13. Can you create a new column that shows 'weight' as a percentage of the highest `weight` using `apply`?

In [56]:
# Create a copy of the DataFrame as df_weight_percent
df_weight_percent = df.copy()

# Create a new column called weight %, which is the weight column divided by the maximum weight
df_weight_percent['weight %'] = df_weight_percent['weight'].apply(lambda x: round(x / df_weight_percent['weight'].max(), 2))

# Display the first 5 rows of the modified DataFrame
df_weight_percent.head()

   weight  height    bmi  gender_#  gender  weight %
0    65.6   174.0  21.67         1  Female      0.56
1    71.8   175.3  23.36         1  Female      0.62
2    80.7   193.5  21.55         1  Female      0.69
3    72.6   186.5  20.87         1  Female      0.62
4    78.8   187.2  22.49         1  Female      0.68

14. Demonstrate how to use `apply` with a lambda to categorize `height` based on quartiles.

In [59]:
# Create a copy of the DataFrame as df_height_category
df_height_category = df.copy()

# Create quartiles of the height column
quartiles = df_height_category['height'].quantile([0.25, 0.75])

# Create a new column called height category, which is short if the height is less than the first quartile, 
# medium if less than the third quartile, and tall otherwise
df_height_category['height category'] = df_height_category['height'].apply(
    lambda x: 'short' if x <= quartiles[0.25] else 'medium' if x <= quartiles[0.75] else 'tall'
    )

# Display the modified DataFrame
df_height_category

     weight  height    bmi  gender_#  gender height category
0      65.6   174.0  21.67         1  Female          medium
1      71.8   175.3  23.36         1  Female          medium
2      80.7   193.5  21.55         1  Female            tall
3      72.6   186.5  20.87         1  Female            tall
4      78.8   187.2  22.49         1  Female            tall
..      ...     ...    ...       ...     ...             ...
502    71.8   176.5  23.05         0    Male          medium
503    55.5   164.4  20.53         0    Male          medium
504    48.6   160.7  18.82         0    Male           short
505    66.4   174.0  21.93         0    Male          medium
506    67.3   163.8  25.08         0    Male           short

[507 rows x 6 columns]

15. How do you use `apply` to create a new column that indicates if each person is over or under 6 feet tall?

In [65]:
# Create a copy of the DataFrame as df_weight_category and drop the 'gender_#' column
df_height_feet = df.copy()
df_height_feet.drop(columns='gender_#', inplace=True)

# Modify the height column to be in feet instead of cm
df_height_feet['height'] = df_height_feet['height'].apply(lambda x: round(x / 30.48, 2))

# Create a new column called over 6 feet, which is Yes if the height is over 6 feet, and No otherwise
df_height_feet['over 6 feet'] = df_height_feet['height'].apply(lambda x: 'Yes' if x > 6 else 'No')

# Display the modified DataFrame
df_height_feet.head()

   weight  height    bmi  gender over 6 feet
0    65.6    5.71  21.67  Female          No
1    71.8    5.75  23.36  Female          No
2    80.7    6.35  21.55  Female         Yes
3    72.6    6.12  20.87  Female         Yes
4    78.8    6.14  22.49  Female         Yes

16. Can you use a lambda function to identify outliers in `weight` (outside 1.5 IQR)?

In [74]:
# Create a copy of df as df_wt_outliers
df_wt_outliers = df.copy()

# Calculate the interquartile range and mean of the weight column
iqr = df_wt_outliers['weight'].quantile(0.75) - df_wt_outliers['weight'].quantile(0.25)
mean = df['weight'].mean()

# Create a new column called outlier, which is Yes if the weight is an outlier, and No otherwise based on the IQR and mean
df_wt_outliers['outlier'] = df_wt_outliers['weight'].apply(lambda x: 'Yes' if abs(x - mean) > 1.5 * iqr else 'No')

# Display the outliers
df_wt_outliers[df_wt_outliers['outlier'] == 'Yes']

     weight  height    bmi  gender_#  gender outlier
68    101.6   192.0  27.56         1  Female     Yes
94    102.3   192.0  27.75         1  Female     Yes
123   116.4   177.8  36.82         1  Female     Yes
140   108.6   190.5  29.93         1  Female     Yes
158   102.3   185.4  29.76         1  Female     Yes
211   101.4   186.7  29.09         1  Female     Yes
220   102.5   177.8  32.42         1  Female     Yes
358   105.2   172.7  35.27         0    Male     Yes
473   104.1   165.1  38.19         0    Male     Yes

17. Show how to use `apply` to count the number of characters in each `gender` value.

In [105]:
# Find unique gender values
gender_values = pd.DataFrame(df['gender'].unique(), columns=['gender'])

# Calculate the character length of each gender value and convert to a DataFrame
gender_length = gender_values['gender'].apply(lambda x: len(x)).reset_index().drop(columns='index')

# Rename 'gender' column as 'gender # of characters'
gender_length.rename(columns={'gender':'gender # of characters'}, inplace=True)

# Concatenate gender_values and gender_length into a single DataFrame
gender_char_length = pd.concat(objs=[gender_values, gender_length], join='inner', axis=1)

# Display the DataFrame
gender_char_length

   gender  gender # of characters
0  Female                       6
1    Male                       4

18. Write a lambda function within `apply` to convert `weight` from pounds to kilograms.

In [110]:
# Create a copy of the DataFrame as df_weight_kg
df_weight_kg = df.copy()

# Modify the weight column to be in kg instead of lbs
df_weight_kg['weight'] = df_weight_kg['weight'].apply(lambda x: round(x / 2.205, 2))

# Display the first 5 rows of the modified DataFrame
df_weight_kg.head()

   weight  height    bmi  gender_#  gender outlier
0   29.75   174.0  21.67         1  Female      No
1   32.56   175.3  23.36         1  Female      No
2   36.60   193.5  21.55         1  Female      No
3   32.93   186.5  20.87         1  Female      No
4   35.74   187.2  22.49         1  Female      No

19. How do you apply a lambda function to categorize BMI into underweight, normal, overweight, and obese?

In [115]:
# Create a copy of the DataFrame as df_weight_category
df_bmi_category = df.copy()

# Create a new column called bmi category, which is underweight if the bmi is less than 18.5, 
# normal if less than 25, overweight if less than 30, and obese otherwise
df_bmi_category['bmi category'] = df_bmi_category['bmi'].apply(
    lambda x: 'underweight' if x < 18.5 else 'normal' if x < 25 else 'overweight' if x < 30 else 'obese'
    )

# Display the modified DataFrame after sorting by bmi in ascending order
df_bmi_category.sort_values(by='bmi', ascending=True)

     weight  height    bmi  gender_#  gender outlier bmi category
380    43.2   160.0  16.87         0    Male      No  underweight
263    49.2   168.2  17.39         0    Male      No  underweight
390    52.7   173.4  17.53         0    Male      No  underweight
365    45.0   160.0  17.58         0    Male      No  underweight
260    42.0   153.4  17.85         0    Male      No  underweight
..      ...     ...    ...       ...     ...     ...          ...
160    95.9   172.7  32.15         1  Female      No        obese
220   102.5   177.8  32.42         1  Female     Yes        obese
358   105.2   172.7  35.27         0    Male     Yes        obese
123   116.4   177.8  36.82         1  Female     Yes        obese
473   104.1   165.1  38.19         0    Male     Yes        obese

[507 rows x 7 columns]

20. Can you use `apply` to create a new column indicating whether each individual's `weight` is in the top 10% of the dataset?

In [126]:
# Create a copy of the DataFrame as df_weight_top_10
df_weight_top_10 = df.copy()

# Find the top 10 weights
weight_top_10 = df_weight_top_10['weight'].sort_values(ascending=False).head(10)

# Create a new column called In top 10 of weight, which is Yes if the weight is in the top 10, and No otherwise
df_weight_top_10['In top 10 of weight'] = df_weight_top_10['weight'].apply(lambda x: 'Yes' if x in weight_top_10.values else 'No')

# Display the modified DataFrame sorted by weight in descending order
df_weight_top_10.sort_values(by='weight', ascending=False)

     weight  height    bmi  gender_#  gender outlier In top 10 of weight
123   116.4   177.8  36.82         1  Female     Yes                 Yes
140   108.6   190.5  29.93         1  Female     Yes                 Yes
358   105.2   172.7  35.27         0    Male     Yes                 Yes
473   104.1   165.1  38.19         0    Male     Yes                 Yes
220   102.5   177.8  32.42         1  Female     Yes                 Yes
..      ...     ...    ...       ...     ...     ...                 ...
340    45.7   159.4  17.99         0    Male      No                  No
365    45.0   160.0  17.58         0    Male      No                  No
369    44.8   149.5  20.04         0    Male      No                  No
380    43.2   160.0  16.87         0    Male      No                  No
260    42.0   153.4  17.85         0    Male      No                  No

[507 rows x 7 columns]

### Hard Questions
21. How do you use `apply` with a lambda function to implement a custom weight normalization (min-max scaling)?

In [130]:
# Create a copy of the DataFrame as df_weight_normalized without the gender_# and outlier columns
df_weight_normalized = df.drop(['gender_#', 'outlier'], axis=1).copy()

# Normalize the weight column via min-max normalization
df_weight_normalized['weight'] = df_weight_normalized['weight'].apply(
    lambda x: round(
        (x - df_weight_normalized['weight'].min()) / (df_weight_normalized['weight'].max() - df_weight_normalized['weight'].min()), 2
        )
    )

# Display the first 5 rows of the modified DataFrame
df_weight_normalized.head()

   weight  height    bmi  gender
0    0.32   174.0  21.67  Female
1    0.40   175.3  23.36  Female
2    0.52   193.5  21.55  Female
3    0.41   186.5  20.87  Female
4    0.49   187.2  22.49  Female

22. Can you write a complex lambda function within `apply` to calculate the lean body mass (using a formula that requires both `weight` and `height`)?

In [132]:
# Create copy of the DataFrame as df_leanBM
df_leanBM = df.copy()

# Modify the weight column to be in kg instead of lbs
df_leanBM['weight'] = df_leanBM['weight'].apply(lambda x: round(x / 2.205, 2))

# Calculate the lean body mass based on the Boer formula for each gender
df_leanBM['lean body mass'] = df_leanBM.apply(
    lambda x: x['weight'] * 0.407 + x['height'] * 0.267 - 19.2 if x['gender'] == 'Male' else x['weight'] * 0.252 + x['height'] * 0.473 - 48.3, 
    axis=1
    )

# Display the modified DataFrame
df_leanBM

     weight  height    bmi  gender_#  gender outlier  lean body mass
0     29.75   174.0  21.67         1  Female      No        41.49900
1     32.56   175.3  23.36         1  Female      No        42.82202
2     36.60   193.5  21.55         1  Female      No        52.44870
3     32.93   186.5  20.87         1  Female      No        48.21286
4     35.74   187.2  22.49         1  Female      No        49.25208
..      ...     ...    ...       ...     ...     ...             ...
502   32.56   176.5  23.05         0    Male      No        41.17742
503   25.17   164.4  20.53         0    Male      No        34.93899
504   22.04   160.7  18.82         0    Male      No        32.67718
505   30.11   174.0  21.93         0    Male      No        39.51277
506   30.52   163.8  25.08         0    Male      No        36.95624

[507 rows x 7 columns]

23. Demonstrate how to use `apply` with a lambda to replace `gender` values based on conditions applied to `weight` and `height`.

24. Write a query using `apply` to calculate the Euclidean distance of each individual’s `weight` and `height` from the dataset's mean weight and height.

In [136]:
# Create a copy of the DataFrame as df_weight_category
df_euclidean = df.copy()

# Calculate the mean of the weight and height columns
mean_weight = df_euclidean['weight'].mean()
mean_height = df_euclidean['height'].mean()

# Create a new column that calculates the rounded Euclidean distance between each weight and height from mean of weight and height
df_euclidean['Euclidean Distance'] = df_euclidean.apply(
    lambda x: round(np.sqrt((x['weight'] - mean_weight) ** 2) + ((x['height'] - mean_height) ** 2), 2), 
    axis=1
    )

# Display the first 5 rows of the modified DataFrame
df_euclidean.head()

   weight  height    bmi  gender_#  gender outlier  Euclidean Distance
0    65.6   174.0  21.67         1  Female      No               11.71
1    71.8   175.3  23.36         1  Female      No               19.93
2    80.7   193.5  21.55         1  Female      No              511.35
3    72.6   186.5  20.87         1  Female      No              239.27
4    78.8   187.2  22.49         1  Female      No              267.45

25. Can you use a lambda function to generate a unique ID for each row combining the first letter of `gender` with a sequential number?

26. Show how to use `apply` with a lambda function to create a 'health_score' based on a custom formula involving `weight` and `height`.

27. How do you use `apply` to find the percentile rank of `weight` and `height` together in each row?

28. Can you use a lambda function to detect and mark which rows have `weight` and `height` values that are both above their respective medians?

29. Write a lambda function within `apply` to calculate a 'fitness index' based on a complex formula using `weight`, `height`, and `gender`.

30. Demonstrate how to use `apply` with lambda functions to perform a conditional transformation (e.g., add a fixed value to `weight` if `gender` is male, else subtract it).

In [144]:
df.drop(columns=['gender_#', 'outlier'], inplace=True)

In [156]:
df_transformed = df.copy()
print(df_transformed)

df_transformed['weight'] = df_transformed.apply(lambda x: x['weight'] + 10 if x['gender'] == 'Male' else x['weight'] - 10, axis=1)

df_transformed

     weight  height    bmi  gender
0      65.6   174.0  21.67  Female
1      71.8   175.3  23.36  Female
2      80.7   193.5  21.55  Female
3      72.6   186.5  20.87  Female
4      78.8   187.2  22.49  Female
..      ...     ...    ...     ...
502    71.8   176.5  23.05    Male
503    55.5   164.4  20.53    Male
504    48.6   160.7  18.82    Male
505    66.4   174.0  21.93    Male
506    67.3   163.8  25.08    Male

[507 rows x 4 columns]

     weight  height    bmi  gender
0      55.6   174.0  21.67  Female
1      61.8   175.3  23.36  Female
2      70.7   193.5  21.55  Female
3      62.6   186.5  20.87  Female
4      68.8   187.2  22.49  Female
..      ...     ...    ...     ...
502    81.8   176.5  23.05    Male
503    65.5   164.4  20.53    Male
504    58.6   160.7  18.82    Male
505    76.4   174.0  21.93    Male
506    77.3   163.8  25.08    Male

[507 rows x 4 columns]