In [1]:
import pandas as pd
import numpy as np

%reload_ext autoreload
%autoreload 2

In [2]:
df = pd.read_csv('/workspaces/DScourse/CourseMaterials/Python_Pandas/data/health_data.csv')

# Meeting 6: `apply` and `lambda` Exercises

### Easy Questions
1. How do you use `apply` with a lambda function to add 10 to each `weight` value?

In [21]:
print(df['weight'].head())

df_weight_modified = df.copy()

df_weight_modified['weight'].apply(lambda x: x + 10).to_frame().rename(columns={'weight': 'weight + 10'}).head()

0    65.6
1    71.8
2    80.7
3    72.6
4    78.8
Name: weight, dtype: float64

   weight + 10
0         75.6
1         81.8
2         90.7
3         82.6
4         88.8

2. Write a query to convert all `height` values from centimeters to inches using `apply`.

In [20]:
# Display the first 5 rows of the height column
print(df['height'].head())

# Copy the dataframe to a new dataframe
df_height_modified = df.copy()

# Convert the height column to inches, convert to DataFrame, and rename the column to height_inch
df_height_modified['height'].apply(lambda x: x / 2.54).to_frame().rename(columns={'height': 'height_inch'}).head()

0    174.0
1    175.3
2    193.5
3    186.5
4    187.2
Name: height, dtype: float64

   height_inch
0    68.503937
1    69.015748
2    76.181102
3    73.425197
4    73.700787

3. How can you use a lambda function to categorize `weight` into 'light' and 'heavy'?

In [26]:
# Copy the dataframe to a new dataframe
df_weight_categorized = df.copy()

# Calculate the mean of the weight column
weight_mean = df_weight_categorized['weight'].mean()

# Create a new column called weight category, which is heavy if the weight is over the mean, and light otherwise
df_weight_categorized['weight category'] = df_weight_categorized['weight'].apply(lambda x: 'heavy' if x > weight_mean else 'light')

# Display the first 5 rows of the modified dataframe
df_weight_categorized.head()

   weight  height  gender weight category
0    65.6   174.0       1           light
1    71.8   175.3       1           heavy
2    80.7   193.5       1           heavy
3    72.6   186.5       1           heavy
4    78.8   187.2       1           heavy

4. Show how to use `apply` to calculate the Body Mass Index (BMI) for each row.

In [29]:
df['bmi'] = df.apply(lambda row: round(row['weight'] / (row['height'] / 100) ** 2, 2), axis=1)
df.head()

   weight  height  gender    bmi
0    65.6   174.0       1  21.67
1    71.8   175.3       1  23.36
2    80.7   193.5       1  21.55
3    72.6   186.5       1  20.87
4    78.8   187.2       1  22.49

5. Can you convert `gender` values to uppercase using `apply` and a lambda function?

In [46]:
# Reorder the columns of the dataframe and rename the gender column
df.rename(columns={'numeric_gender': 'gender_#'}, inplace=True)
df = df[['weight', 'height', 'bmi', 'gender_#']]

# Add a gender column where 0 = male and 1 = female
df['gender'] = df['gender_#'].apply(lambda x: 'Male' if x == 0 else 'Female')
df

     weight  height    bmi  gender_#  gender
0      65.6   174.0  21.67         1  Female
1      71.8   175.3  23.36         1  Female
2      80.7   193.5  21.55         1  Female
3      72.6   186.5  20.87         1  Female
4      78.8   187.2  22.49         1  Female
..      ...     ...    ...       ...     ...
502    71.8   176.5  23.05         0    Male
503    55.5   164.4  20.53         0    Male
504    48.6   160.7  18.82         0    Male
505    66.4   174.0  21.93         0    Male
506    67.3   163.8  25.08         0    Male

[507 rows x 5 columns]

In [47]:
df_upper = df.copy()

df_upper['gender'] = df_upper['gender'].apply(lambda x: x.upper())
df_upper

     weight  height    bmi  gender_#  gender
0      65.6   174.0  21.67         1  FEMALE
1      71.8   175.3  23.36         1  FEMALE
2      80.7   193.5  21.55         1  FEMALE
3      72.6   186.5  20.87         1  FEMALE
4      78.8   187.2  22.49         1  FEMALE
..      ...     ...    ...       ...     ...
502    71.8   176.5  23.05         0    MALE
503    55.5   164.4  20.53         0    MALE
504    48.6   160.7  18.82         0    MALE
505    66.4   174.0  21.93         0    MALE
506    67.3   163.8  25.08         0    MALE

[507 rows x 5 columns]

6. Demonstrate how to use `apply` to round off all `height` values to the nearest integer.

In [49]:
df_height_rounded = df.copy()

df_height_rounded['height'] = df_height_rounded['height'].apply(lambda x: round(x))
df_height_rounded.head()

   weight  height    bmi  gender_#  gender
0    65.6     174  21.67         1  Female
1    71.8     175  23.36         1  Female
2    80.7     194  21.55         1  Female
3    72.6     186  20.87         1  Female
4    78.8     187  22.49         1  Female

7. How do you use a lambda function to classify `height` into 'short', 'medium', and 'tall'?

8. Write a lambda function within `apply` to subtract the mean `weight` from each weight value.

9. Show how to use `apply` to create a new column indicating if `weight` is above average.

10. Can you use a lambda function to calculate the weight-to-height ratio for each row?

### Medium Questions
11. How do you use `apply` with a lambda function to standardize (z-score) `weight` values?

12. Write a query using `apply` to find the difference between each `weight` and the max weight.

13. Can you create a new column that shows 'weight' as a percentage of the highest `weight` using `apply`?

14. Demonstrate how to use `apply` with a lambda to categorize `height` based on quartiles.

15. How do you use `apply` to create a new column that indicates if each person is over or under 6 feet tall?

16. Can you use a lambda function to identify outliers in `weight` (outside 1.5 IQR)?

17. Show how to use `apply` to count the number of characters in each `gender` value.

18. Write a lambda function within `apply` to convert `weight` from pounds to kilograms.

19. How do you apply a lambda function to categorize BMI into underweight, normal, overweight, and obese?

20. Can you use `apply` to create a new column indicating whether each individual's `weight` is in the top 10% of the dataset?

### Hard Questions
21. How do you use `apply` with a lambda function to implement a custom weight normalization (min-max scaling)?

22. Can you write a complex lambda function within `apply` to calculate the lean body mass (using a formula that requires both `weight` and `height`)?

23. Demonstrate how to use `apply` with a lambda to replace `gender` values based on conditions applied to `weight` and `height`.

24. Write a query using `apply` to calculate the Euclidean distance of each individual’s `weight` and `height` from the dataset's mean weight and height.

25. Can you use a lambda function to generate a unique ID for each row combining the first letter of `gender` with a sequential number?

26. Show how to use `apply` with a lambda function to create a 'health_score' based on a custom formula involving `weight` and `height`.

27. How do you use `apply` to find the percentile rank of `weight` and `height` together in each row?

28. Can you use a lambda function to detect and mark which rows have `weight` and `height` values that are both above their respective medians?

29. Write a lambda function within `apply` to calculate a 'fitness index' based on a complex formula using `weight`, `height`, and `gender`.

30. Demonstrate how to use `apply` with lambda functions to perform a conditional transformation (e.g., add a fixed value to `weight` if `gender` is male, else subtract it).