# Meeting 6: Groupby Exercises


### Easy Questions
1. How can you group the dataset by `gender`?

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(
    r"C:\Users\jorda\Documents\studies\DScourse\CourseMaterials\Pandas\data\health_data.csv"
)
df.head()

   weight  height  gender
0    65.6   174.0       1
1    71.8   175.3       1
2    80.7   193.5       1
3    72.6   186.5       1
4    78.8   187.2       1

In [3]:
df_by_gender = df.groupby("gender")

2. Write a query to find the average `height` by `gender`.

In [4]:
# Find the average height by gender via the groupby object and the mean() method
df_2 = df_by_gender["height"].mean()

# Convert df_2 to a DataFrame with gender as the index and avg_height as the column name
df_2.reset_index().set_index("gender").rename(columns={"height": "avg_height"})

        avg_height
gender
0       164.872308
1       177.745344

3. How can you find the maximum `weight` in each `gender` group?

In [5]:
# Find the maximum weight for each gender group via the groupby object and the max() method
df_3 = df_by_gender["weight"].max()

# Convert df_3 to a DataFrame with gender as the index and max_weight as the column name
df_3.reset_index().set_index("gender").rename(columns={"weight": "max_weight"})

        max_weight
gender
0            105.2
1            116.4

4. Show the count of entries for each `gender`.

In [6]:
# Show the count of each gender via the groupby object and the value_counts() method
df_4 = df_by_gender["gender"].value_counts()

# Convert df_4 to a DataFrame with gender as the index and count as the column name
df_4.reset_index().set_index("gender").rename(columns={"gender": "count"})

        count
gender
0         260
1         247

5. What is the minimum `height` for each `gender` group?

In [7]:
# Find the minimum height for each gender via the groupby object and the min() method
df_5 = df_by_gender["height"].min()

# Convert df_5 to a DataFrame with gender as the index and min_height as the column name
df_5.reset_index().set_index("gender").rename(columns={"height": "min_height"})

        min_height
gender
0            147.2
1            157.2

6. How do you find the total sum of `weight` for each `gender`?

In [8]:
# Find the total sum of weight for each gender via the groupby object and the sum() method
df_6 = df_by_gender["weight"].sum()

# Convert df_6 to a DataFrame with gender as the index and sum_weight as the column name
df_6.reset_index().set_index("gender").rename(columns={"weight": "sum_weight"})

        sum_weight
gender
0          15756.1
1          19301.7

7. Demonstrate how to group by `gender` and get the median `height`.

In [9]:
# Find the median height for each gender via the groupby object and the median() method
df_7 = df_by_gender["height"].median()

# Convert df_7 to a DataFrame with gender as the index and median_height as the column name
df_7.reset_index().set_index("gender").rename(columns={"height": "median_height"})

        median_height
gender
0               164.5
1               177.8

8. Can you find the standard deviation of `weight` within each `gender` group?

In [10]:
# Find the standard deviation of weight for each gender group via the groupby object and the std() method
df_8 = df_by_gender["weight"].std()

# Convert df_8 to a DataFrame with gender as the index and std_weight as the column name
df_8.reset_index().set_index("gender").rename(columns={"weight": "std_weight"})

        std_weight
gender
0         9.615699
1        10.512890

9. Illustrate how to group by `gender` and describe the `height` statistics.

In [11]:
df_by_gender["height"].describe()

        count        mean       std    min    25%    50%     75%    max
gender
0       260.0  164.872308  6.544602  147.2  160.0  164.5  169.50  182.9
1       247.0  177.745344  7.183629  157.2  172.9  177.8  182.65  198.1

10. How would you group by `gender` and get the first entry in each group?

In [12]:
# Find the first entry in each gender group via the .first() method
df_by_gender.first()

        weight  height
gender
0         51.6   161.2
1         65.6   174.0

In [13]:
# Find the first entry in each gender group via the .nth() method
df_by_gender.nth(0)

     weight  height  gender
0      65.6   174.0       1
247    51.6   161.2       0

In [14]:
# Find the first entry in each gender group via the .apply() method
# with a lambda function that returns the first entry via the .iloc() method
df_by_gender.apply(lambda x: x.iloc[0])

        weight  height  gender
gender
0         51.6   161.2     0.0
1         65.6   174.0     1.0

### Medium Questions
11. How do you compute the average `weight` for each unique height within each `gender`?

In [15]:
# Group df by gender and height
df_by_gender_by_height = df.groupby(["gender", "height"])

# Find the average weight for each group
df_11 = df_by_gender_by_height["weight"].mean()

# Convert df_11 to a DataFrame with gender and height as the indices and avg_weight as the column name
df_11.reset_index().set_index(["gender", "height"]).rename(
    columns={"weight": "avg_weight"}
)

               avg_weight
gender height
0      147.2        49.80
       149.5        44.80
       149.9        46.80
       151.1        60.95
       152.0        52.55
...                   ...
1      192.7        93.80
       193.0        95.90
       193.5        80.70
       197.1        90.90
       198.1        85.50

[176 rows x 1 columns]

12. Can you calculate the difference between the maximum and minimum `weight` for each `gender`?

In [16]:
# Calculate the difference between the maximum and minimum 'weight' for each 'gender' group
df_12 = df_by_gender.aggregate({"weight": lambda x: x.max() - x.min()})

# Convert df_12 to a DataFrame with gender as the index and weight_diff as the column name
df_12.reset_index().set_index("gender").rename(columns={0: "weight_diff"})

        weight
gender
0         63.2
1         62.5

13. How would you find the top 3 heaviest `weights` within each `gender` group?

In [17]:
# Find the top 3 heaviest weights per gender group
df_13 = df.groupby("gender")["weight"].nlargest(3)

# Convert df_13 to a DataFrame with gender as the index and 3_largest_weight as the column name
df_13.reset_index(level=1, drop=True).rename("3_largest_weight").to_frame()

        3_largest_weight
gender
0                  105.2
0                  104.1
0                   87.8
1                  116.4
1                  108.6
1                  102.5

14. Show how to group by `gender` and get the range of `heights` in each group.

In [18]:
df.groupby("gender")["height"].agg([min, max]).rename(
    columns={"min": "min_height", "max": "max_height"}
)

        min_height  max_height
gender
0            147.2       182.9
1            157.2       198.1

15. How do you compute the average `weight` for each `gender`, filtering out outliers (defined as weights beyond 2 standard deviations)?

In [19]:
# Calculate mean and standard deviation for each gender group
group_stats = df.groupby("gender")["weight"].agg(["mean", "std"])
group_stats

             mean        std
gender
0       60.600385   9.615699
1       78.144534  10.512890

In [20]:
# Filter each gender to keep only the rows in which the 'weight' column is less than 2 standard deviations away from the mean
filtered_gen_0 = df[
    (df["gender"] == 0)
    & (
        (df["weight"] <= group_stats.loc[0, "mean"] + 2 * group_stats.loc[0, "std"])
        & (df["weight"] >= group_stats.loc[0, "mean"] - 2 * group_stats.loc[0, "std"])
    )
]
filtered_gen_1 = df[
    (df["gender"] == 1)
    & (
        (df["weight"] <= group_stats.loc[1, "mean"] + 2 * group_stats.loc[1, "std"])
        & (df["weight"] >= group_stats.loc[1, "mean"] - 2 * group_stats.loc[1, "std"])
    )
]

# Combine the filtered DataFrames
filtered_df = pd.concat([filtered_gen_0, filtered_gen_1])
print(filtered_df)

# Calculate the average weight in the filtered data per gender group
filtered_groupby_gender = filtered_df.groupby("gender")["weight"].mean()

# Convert filtered_groupby_gender to a DataFrame with gender as the index and avg_weight as the column name
filtered_groupby_gender.reset_index().set_index("gender").rename(
    columns={"weight": "avg_weight"}
)

     weight  height  gender
247    51.6   161.2       0
248    59.0   167.5       0
249    49.2   159.5       0
250    63.0   157.0       0
251    53.6   155.8       0
..      ...     ...     ...
242    79.1   179.1       1
243    98.2   190.5       1
244    84.1   177.8       1
245    83.2   180.3       1
246    83.2   180.3       1

[483 rows x 3 columns]

        avg_weight
gender
0        59.345565
1        77.822128

16. Demonstrate grouping by `gender` and calculating the percentile rank of `heights` in each group.

In [21]:
# Create a copy of df named 'df_percentile'
df_percentile = df.copy()

# Calculating the percentile rank of 'heights' in each group
df_percentile["height_percentile"] = df_percentile.groupby("gender")[
    "height"
].transform(lambda x: x.rank(pct=True))

# Sort and reindex the data by gender
df_percentile.sort_values(by=["gender"]).reset_index(drop=True).set_index("gender")

        weight  height  height_percentile
gender
0         47.6   159.1           0.161538
0         66.8   179.8           0.988462
0         55.6   159.0           0.155769
0         57.8   162.8           0.428846
0         48.6   159.0           0.155769
...        ...     ...                ...
1         70.5   181.6           0.722672
1        102.3   185.4           0.846154
1         66.4   165.1           0.038462
1         82.7   167.6           0.095142
1         65.6   174.0           0.287449

[507 rows x 3 columns]


17. How would you find the correlation between `weight` and `height` within each `gender` group?

In [22]:
df.groupby("gender")[["weight", "height"]].corr().rename(
    columns={"weight": "weight_corr", "height": "height_corr"}
)

               weight_corr  height_corr
gender
0      weight     1.000000     0.431059
       height     0.431059     1.000000
1      weight     1.000000     0.534742
       height     0.534742     1.000000

18. Can you show the count of unique `height` values in each `gender` group?

In [23]:
df.groupby("gender")["height"].nunique().rename("unique_heights").to_frame()

        unique_heights
gender
0                   96
1                   80

19. How do you group by `gender` and compute a cumulative sum of `weight`?

In [24]:
df.groupby("gender")["weight"].cumsum().rename("cumulative_weight").to_frame()

     cumulative_weight
0                 65.6
1                137.4
2                218.1
3                290.7
4                369.5
..                 ...
502            15518.3
503            15573.8
504            15622.4
505            15688.8
506            15756.1

[507 rows x 1 columns]

20. Illustrate how to group by `gender` and find the `height` that appears most frequently in each group.

In [25]:
df.groupby("gender")["height"].agg(pd.Series.mode).rename("mode_height").to_frame()

        mode_height
gender
0             160.0
1             177.8

### Hard Questions
21. How do you apply a custom function to normalize `weight` within each `gender` group?

In [26]:
df.groupby("gender")["weight"].transform(lambda x: (x - x.mean()) / x.std())
df.rename(columns={"weight": "weight_normalized"})

     weight_normalized  height  gender
0                 65.6   174.0       1
1                 71.8   175.3       1
2                 80.7   193.5       1
3                 72.6   186.5       1
4                 78.8   187.2       1
..                 ...     ...     ...
502               71.8   176.5       0
503               55.5   164.4       0
504               48.6   160.7       0
505               66.4   174.0       0
506               67.3   163.8       0

[507 rows x 3 columns]

22. Can you create a pivot table showing the average `weight` for each combination of `height` and `gender`?

In [27]:
pd.pivot_table(
    data=df, values="weight", index=["gender", "height"], aggfunc="mean"
).rename(columns={"weight": "average weight"})

               average weight
gender height
0      147.2            49.80
       149.5            44.80
       149.9            46.80
       151.1            60.95
       152.0            52.55
...                       ...
1      192.7            93.80
       193.0            95.90
       193.5            80.70
       197.1            90.90
       198.1            85.50

[176 rows x 1 columns]

23. Demonstrate how to calculate the weighted average of `height` within each `gender` group, using `weight` as the weights.

In [28]:
# Calculate weighted average of height within each gender group
weighted_avg_height_by_gender = df.groupby("gender").apply(
    lambda x: np.average(x["height"], weights=x["weight"])
)

# Rename the resulting Series to 'weighted_avg_height' and convert it to a DataFrame
weighted_avg_height_by_gender.rename("weighted_avg_height").to_frame()

        weighted_avg_height
gender
0                165.318223
1                178.260039

24. How would you group by `gender` and apply a function that labels each entry as 'above_average' or 'below_average' based on `weight`?

In [29]:
# Copy df to df_weight_labeled
df_weight_labeled = df.copy()

# Create a column 'weight_label' that labels each weight as 'above average' or 'below average'
df_weight_labeled["weight_label"] = df_weight_labeled.groupby("gender")[
    "weight"
].transform(lambda x: np.where(x > x.mean(), "above average", "below average"))
df_weight_labeled

     weight  height  gender   weight_label
0      65.6   174.0       1  below average
1      71.8   175.3       1  below average
2      80.7   193.5       1  above average
3      72.6   186.5       1  below average
4      78.8   187.2       1  above average
..      ...     ...     ...            ...
502    71.8   176.5       0  above average
503    55.5   164.4       0  below average
504    48.6   160.7       0  below average
505    66.4   174.0       0  above average
506    67.3   163.8       0  above average

[507 rows x 4 columns]

25. Can you find the `gender` group with the highest variance in `height`?

In [30]:
# Calculate variance for each gender group via the groupby object and the var() method
height_var_by_gender = (
    df.groupby("gender")["height"].var().rename("height_var").to_frame()
)
height_var_by_gender

        height_var
gender
0        42.831817
1        51.604521

In [31]:
# Find group with maximum variance via the .loc() method with a boolean condition
height_var_by_gender.loc[
    height_var_by_gender["height_var"] == height_var_by_gender["height_var"].max()
]

        height_var
gender
1        51.604521

In [32]:
# Find group with maximum variance
height_var_by_gender.iloc[height_var_by_gender.idxmax()]

        height_var
gender
1        51.604521

26. How do you group by `gender` and calculate the skewness of the `weight` distribution in each group?

In [33]:
df.groupby("gender")["weight"].skew().rename("weight_skewness").to_frame()

        weight_skewness
gender
0              1.148387
1              0.292961

27. Illustrate how to create a new column that ranks `weight` within each `gender` group.

In [34]:
# Create a copy of df called df_weight_ranked and drop the 'height_percentile' column
df_weight_ranked = df.copy()

# Create a column named 'weight_rank' that ranks 'weight' within each gender group
df_weight_ranked["weight_rank"] = df_weight_ranked.groupby("gender")["weight"].rank()

# Sort df_weight_ranked by gender and weight_rank and Set the gender column as the index
df_weight_ranked.sort_values(by=["gender", "weight_rank"]).reset_index().set_index(
    "gender"
)

        index  weight  height  weight_rank
gender
0         260    42.0   153.4          1.0
0         380    43.2   160.0          2.0
0         369    44.8   149.5          3.0
0         365    45.0   160.0          4.0
0         340    45.7   159.4          5.0
...       ...     ...     ...          ...
1          94   102.3   192.0        243.5
1         158   102.3   185.4        243.5
1         220   102.5   177.8        245.0
1         140   108.6   190.5        246.0
1         123   116.4   177.8        247.0

[507 rows x 4 columns]

28. Show how to group by `gender` and apply multiple aggregate functions on `height` and `weight` simultaneously.

In [35]:
df_aggregated = df.copy()

df_aggregated.groupby("gender")[["weight", "height"]].agg(
    ["mean", "median", pd.Series.mode, "min", "max", "std", "var"]
)

           weight                                                   \
             mean median  mode   min    max        std         var
gender
0       60.600385   59.0  63.6  42.0  105.2   9.615699   92.461660
1       78.144534   77.3  84.1  53.9  116.4  10.512890  110.520854

            height
              mean median   mode    min    max       std        var
gender
0       164.872308  164.5  160.0  147.2  182.9  6.544602  42.831817
1       177.745344  177.8  177.8  157.2  198.1  7.183629  51.604521

29. Can you perform a groupby operation that groups by `gender` and bins `height` into categories (short, medium, tall) before calculating average `weight` in each category?

In [36]:
# Create bins for gender groups based on the quantiles of 'height'
bins = df.groupby("gender")["height"].agg("quantile", [0.25, 0.75]).to_frame()
print(bins)

# Create a copy of df called df_height_categorized
df_height_categorized = df.copy()

# Create a column 'height_category' that labels each height as 'short', 'medium', or 'tall' based on the bins
df_height_categorized["height_category"] = pd.cut(
    df_height_categorized["height"],
    bins=bins["height"],
    labels=["short", "medium", "tall"],
)

# Drop rows with missing values and reset the index to gender
df_height_categorized.dropna().reset_index(drop=True).set_index("gender")

             height
gender
0      0.25  160.00
       0.75  169.50
1      0.25  172.90
       0.75  182.65

        weight  height height_category
gender
1         65.6   174.0            tall
1         71.8   175.3            tall
1         74.8   181.5            tall
1         62.0   175.0            tall
1         76.6   180.0            tall
...        ...     ...             ...
0         71.8   176.5            tall
0         55.5   164.4           short
0         48.6   160.7           short
0         66.4   174.0            tall
0         67.3   163.8           short

[372 rows x 3 columns]

30. Demonstrate how to use groupby with `gender` to identify outliers in `height` (defined as values that are more than 2.5 standard deviations from the mean) within each group.

In [37]:
# Calculate the average and standard deviation og height for each gender category
df_stats = df_by_gender["height"].agg(["mean", "std"])
print(df_stats)

# Identify outliers in the height column using a boolean condition and the .loc() method based on the mean and standard deviation
df[["gender", "height"]][
    (
        (df["gender"] == 0)
        & (
            (df["height"] > df_stats.loc[0, "mean"] + 2.5 * df_stats.loc[0, "std"])
            | (df["height"] < df_stats.loc[0, "mean"] - 2.5 * df_stats.loc[0, "std"])
        )
    )
    | (
        (df["gender"] == 1)
        & (
            (df["height"] > df_stats.loc[1, "mean"] + 2.5 * df_stats.loc[1, "std"])
            | (df["height"] < df_stats.loc[1, "mean"] - 2.5 * df_stats.loc[1, "std"])
        )
    )
].sort_values(by="gender").reset_index().set_index("gender").drop(
    columns="index"
).rename(
    columns={"height": "height_outlier"}
)

              mean       std
gender
0       164.872308  6.544602
1       177.745344  7.183629

        height_outlier
gender
0                147.2
0                182.9
1                197.1
1                157.2
1                198.1

In [38]:
# Identify the outliers in the height column via the groupby object and the apply() method
df_by_gender_outliers = df.groupby('gender')['height'].apply(lambda x: x[np.abs(x - x.mean()) > 2.5 * x.std()])

# Convert df_by_gender_outliers to a DataFrame
df_by_gender_outliers.to_frame()

            height
gender
0      262   147.2
       419   182.9
1      79    197.1
       105   157.2
       126   198.1