# Meeting 6: Groupby Exercises


### Easy Questions
1. How can you group the dataset by `gender`?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/workspaces/DScourse/CourseMaterials/Python_Pandas/data/health_data.csv')
df.head()

   weight  height  gender
0    65.6   174.0       1
1    71.8   175.3       1
2    80.7   193.5       1
3    72.6   186.5       1
4    78.8   187.2       1

In [3]:
df_by_gender = df.groupby('gender')

2. Write a query to find the average `height` by `gender`.

In [4]:
# Find the average height by gender via the groupby object and the mean() method
df_2 = df_by_gender['height'].mean()

# Convert df_2 to a DataFrame with gender as the index and avg_height as the column name
df_2.reset_index().set_index('gender').rename(columns={'height':'avg_height'})

        avg_height
gender
0       164.872308
1       177.745344

3. How can you find the maximum `weight` in each `gender` group?

In [5]:
# Find the maximum weight for each gender group via the groupby object and the max() method
df_3 = df_by_gender['weight'].max()

# Convert df_3 to a DataFrame with gender as the index and max_weight as the column name
df_3.reset_index().set_index('gender').rename(columns={'weight':'max_weight'})

        max_weight
gender
0            105.2
1            116.4

4. Show the count of entries for each `gender`.

In [6]:
# Show the count of each gender via the groupby object and the value_counts() method
df_4 = df_by_gender['gender'].value_counts()

# Convert df_4 to a DataFrame with gender as the index and count as the column name
df_4.reset_index().set_index('gender').rename(columns={'gender':'count'})

        count
gender
0         260
1         247

5. What is the minimum `height` for each `gender` group?

In [7]:
# Find the minimum height for each gender via the groupby object and the min() method
df_5 = df_by_gender['height'].min()

# Convert df_5 to a DataFrame with gender as the index and min_height as the column name
df_5.reset_index().set_index('gender').rename(columns={'height':'min_height'})

        min_height
gender
0            147.2
1            157.2

6. How do you find the total sum of `weight` for each `gender`?

In [8]:
# Find the total sum of weight for each gender via the groupby object and the sum() method
df_6 = df_by_gender['weight'].sum()

# Convert df_6 to a DataFrame with gender as the index and sum_weight as the column name
df_6.reset_index().set_index('gender').rename(columns={'weight':'sum_weight'})

        sum_weight
gender
0          15756.1
1          19301.7

7. Demonstrate how to group by `gender` and get the median `height`.

In [9]:
# Find the median height for each gender via the groupby object and the median() method
df_7 = df_by_gender['height'].median()

# Convert df_7 to a DataFrame with gender as the index and median_height as the column name
df_7.reset_index().set_index('gender').rename(columns={'height':'median_height'})

        median_height
gender
0               164.5
1               177.8

8. Can you find the standard deviation of `weight` within each `gender` group?

In [10]:
# Find the standard deviation of weight for each gender group via the groupby object and the std() method
df_8 = df_by_gender['weight'].std()

# Convert df_8 to a DataFrame with gender as the index and std_weight as the column name
df_8.reset_index().set_index('gender').rename(columns={'weight':'std_weight'})

        std_weight
gender
0         9.615699
1        10.512890

9. Illustrate how to group by `gender` and describe the `height` statistics.

In [11]:
df_by_gender['height'].describe()

        count        mean       std    min    25%    50%     75%    max
gender
0       260.0  164.872308  6.544602  147.2  160.0  164.5  169.50  182.9
1       247.0  177.745344  7.183629  157.2  172.9  177.8  182.65  198.1

10. How would you group by `gender` and get the first entry in each group?

In [12]:
# Find the first entry in each gender group via the .first() method
df_by_gender.first()

        weight  height
gender
0         51.6   161.2
1         65.6   174.0

In [13]:
# Find the first entry in each gender group via the .nth() method
df_by_gender.nth(0)

     weight  height  gender
0      65.6   174.0       1
247    51.6   161.2       0

In [14]:
# Find the first entry in each gender group via the .apply() method 
# with a lambda function that returns the first entry via the .iloc() method
df_by_gender.apply(lambda x: x.iloc[0])

        weight  height  gender
gender
0         51.6   161.2     0.0
1         65.6   174.0     1.0

### Medium Questions
11. How do you compute the average `weight` for each unique height within each `gender`?

In [20]:
# Group df by gender and height
df_by_gender_by_height = df.groupby(['gender', 'height'])

# Find the average weight for each group via the mean() method
df_11 = df_by_gender_by_height['weight'].mean()

# Convert df_11 to a DataFrame with gender and height as the indices and avg_weight as the column name
df_11.reset_index().set_index(['gender', 'height']).rename(columns={'weight':'avg_weight'})

               avg_weight
gender height
0      147.2        49.80
       149.5        44.80
       149.9        46.80
       151.1        60.95
       152.0        52.55
...                   ...
1      192.7        93.80
       193.0        95.90
       193.5        80.70
       197.1        90.90
       198.1        85.50

[176 rows x 1 columns]

12. Can you calculate the difference between the maximum and minimum `weight` for each `gender`?

In [22]:
# Calculate the difference between the maximum and minimum 'weight' for each 'gender' group 
# via the aggregate() method and a lambda function with the .max() and .min() methods
df_12 = df_by_gender.aggregate({'weight': lambda x: x.max() - x.min()})

# Convert df_12 to a DataFrame with gender as the index and weight_diff as the column name
df_12.reset_index().set_index('gender').rename(columns={0:'weight_diff'})

        weight_diff
gender
0              63.2
1              62.5

13. How would you find the top 3 heaviest `weights` within each `gender` group?

In [118]:
# Find the top 3 heaviest weights per gender group via the groupby object and the nlargest() method
df_13 = df.groupby('gender')['weight'].nlargest(3)

# Convert df_13 to a DataFrame with gender as the index and 3_largest_weight as the column name
df_13.reset_index(level=1, drop=True).rename('3_largest_weight').to_frame()

        3_largest_weight
gender
0                  105.2
0                  104.1
0                   87.8
1                  116.4
1                  108.6
1                  102.5

14. Show how to group by `gender` and get the range of `heights` in each group.

In [126]:
df.groupby('gender')['height'].agg([min, max]).rename(columns={'min':'min_height', 'max':'max_height'})

/tmp/ipykernel_48012/2216483906.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('gender')['height'].agg([min, max]).rename(columns={'min':'min_height', 'max':'max_height'})
/tmp/ipykernel_48012/2216483906.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('gender')['height'].agg([min, max]).rename(columns={'min':'min_height', 'max':'max_height'})

        min_height  max_height
gender
0            147.2       182.9
1            157.2       198.1

15. How do you compute the average `weight` for each `gender`, filtering out outliers (defined as weights beyond 2 standard deviations)?

In [163]:
# Calculate mean and standard deviation for each gender group via the groupby object and the agg() method
group_stats = df.groupby('gender')['weight'].agg(['mean', 'std'])
group_stats

             mean        std
gender
0       60.600385   9.615699
1       78.144534  10.512890

In [183]:
# Filter each gender to keep only the rows in which the 'weight' column is less than 2 standard deviations away from the mean
filtered_gen_0 = df[(df['gender'] == 0) & ((df['weight'] <= group_stats.loc[0, 'mean'] + 2 * group_stats.loc[0, 'std']) & (df['weight'] >= group_stats.loc[0, 'mean'] - 2 * group_stats.loc[0, 'std']))] 
filtered_gen_1 = df[(df['gender'] == 1) & ((df['weight'] <= group_stats.loc[1, 'mean'] + 2 * group_stats.loc[1, 'std']) & (df['weight'] >= group_stats.loc[1, 'mean'] - 2 * group_stats.loc[1, 'std']))]

# Combine the filtered DataFrames via the concat() function
filtered_df = pd.concat([filtered_gen_0, filtered_gen_1])
print(filtered_df)

# Calculate the average weight in the filtered data per gender group via the groupby object and the mean() method
filtered_groupby_gender = filtered_df.groupby('gender')['weight'].mean()

# Convert filtered_groupby_gender to a DataFrame with gender as the index and avg_weight as the column name
filtered_groupby_gender.reset_index().set_index('gender').rename(columns={'weight':'avg_weight'})

     weight  height  gender
247    51.6   161.2       0
248    59.0   167.5       0
249    49.2   159.5       0
250    63.0   157.0       0
251    53.6   155.8       0
..      ...     ...     ...
242    79.1   179.1       1
243    98.2   190.5       1
244    84.1   177.8       1
245    83.2   180.3       1
246    83.2   180.3       1

[483 rows x 3 columns]

        avg_weight
gender
0        59.345565
1        77.822128

16. Demonstrate grouping by `gender` and calculating the percentile rank of `heights` in each group.

In [205]:
# Calculating the percentile rank of 'heights' in each group via the groupby object and the transform() method and the rank() method
df['height_percentile'] = df.groupby('gender')['height'].transform(lambda x: x.rank(pct=True))

# Sorting and reindexing the data by gender via the sort_values() method, the reset_index() method, and the set_index() method
df.sort_values(by=['gender']).reset_index(drop=True).set_index('gender')

        weight  height  height_percentile
gender
0         47.6   159.1           0.161538
0         66.8   179.8           0.988462
0         55.6   159.0           0.155769
0         57.8   162.8           0.428846
0         48.6   159.0           0.155769
...        ...     ...                ...
1         70.5   181.6           0.722672
1        102.3   185.4           0.846154
1         66.4   165.1           0.038462
1         82.7   167.6           0.095142
1         65.6   174.0           0.287449

[507 rows x 3 columns]


17. How would you find the correlation between `weight` and `height` within each `gender` group?

In [219]:
df.groupby('gender')[['weight', 'height']].corr().rename(columns={'weight':'weight_corr', 'height':'height_corr'})

               weight_corr  height_corr
gender
0      weight     1.000000     0.431059
       height     0.431059     1.000000
1      weight     1.000000     0.534742
       height     0.534742     1.000000

18. Can you show the count of unique `height` values in each `gender` group?

In [226]:
df.groupby('gender')['height'].nunique().rename('unique_heights').to_frame()

        unique_heights
gender
0                   96
1                   80

19. How do you group by `gender` and compute a cumulative sum of `weight`?

In [230]:
df.groupby('gender')['weight'].cumsum().rename('cumulative_weight').to_frame()

     cumulative_weight
0                 65.6
1                137.4
2                218.1
3                290.7
4                369.5
..                 ...
502            15518.3
503            15573.8
504            15622.4
505            15688.8
506            15756.1

[507 rows x 1 columns]

20. Illustrate how to group by `gender` and find the `height` that appears most frequently in each group.

In [231]:
df.groupby('gender')['height'].agg(pd.Series.mode).rename('mode_height').to_frame()

        mode_height
gender
0             160.0
1             177.8

### Hard Questions
21. How do you apply a custom function to normalize `weight` within each `gender` group?

22. Can you create a pivot table showing the average `weight` for each combination of `height` and `gender`?

23. Demonstrate how to calculate the weighted average of `height` within each `gender` group, using `weight` as the weights.

24. How would you group by `gender` and apply a function that labels each entry as 'above_average' or 'below_average' based on `weight`?

25. Can you find the `gender` group with the highest variance in `height`?

26. How do you group by `gender` and calculate the skewness of the `weight` distribution in each group?

27. Illustrate how to create a new column that ranks `weight` within each `gender` group.

28. Show how to group by `gender` and apply multiple aggregate functions on `height` and `weight` simultaneously.

29. Can you perform a groupby operation that groups by `gender` and bins `height` into categories (short, medium, tall) before calculating average `weight` in each category?

30. Demonstrate how to use groupby with `gender` to identify outliers in `height` (defined as values that are more than 2.5 standard deviations from the mean) within each group.