# Week 5 Exercises
### Easy

##### Exercise 1:
Import Pandas and read a CSV file into a DataFrame called df that contains the headers 'Height', 'Gender', and 'Weight'.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\jorda\Documents\studies\DScourse\CourseMaterials\Pandas\data\health_data.csv')

##### Exercise 2:
Display the first 5 rows of the DataFrame df.

In [2]:
df.head()

   weight  height  gender
0    65.6   174.0       1
1    71.8   175.3       1
2    80.7   193.5       1
3    72.6   186.5       1
4    78.8   187.2       1

##### Exercise 3:
Calculate the average height from the DataFrame df.

In [3]:
average_height = round(df['height'].mean(), 2)
f"The average height is {average_height}."

'The average height is 171.14.'

##### Exercise 4:
Count the number of males and females in the DataFrame df.

In [4]:
males = df['gender'][df['gender'] == 0].count()
females = df['gender'][df['gender'] == 1].count()

f"There are {males} males and {females} females."

'There are 260 males and 247 females.'

##### Exercise 5:
Create a new column 'BMI' in the DataFrame df using the formula: BMI = Weight (kg) / (Height (m))^2

In [5]:
df.insert(2, 'bmi', round(df['weight'] / (df['height'] / 100) ** 2, 2))
df.head()

   weight  height    bmi  gender
0    65.6   174.0  21.67       1
1    71.8   175.3  23.36       1
2    80.7   193.5  21.55       1
3    72.6   186.5  20.87       1
4    78.8   187.2  22.49       1

### Medium
##### Exercise 6:
Convert heights from centimeters to meters in the DataFrame df.

In [6]:
df['height'] = df['height'].apply(lambda x: round(x / 100, 2))
df.head()

   weight  height    bmi  gender
0    65.6    1.74  21.67       1
1    71.8    1.75  23.36       1
2    80.7    1.94  21.55       1
3    72.6    1.86  20.87       1
4    78.8    1.87  22.49       1

##### Exercise 7:
Filter the DataFrame df to include only records with a BMI above 25.

In [7]:
df[df['bmi'] > 25]

     weight  height    bmi  gender
6      86.4    1.84  25.52       1
11     83.6    1.78  26.44       1
16     93.8    1.93  25.26       1
19     85.9    1.76  27.73       1
20     78.8    1.76  25.44       1
..      ...     ...    ...     ...
481    81.8    1.63  30.94       0
495    64.1    1.60  25.04       0
498    75.5    1.60  29.49       0
501    76.8    1.57  30.96       0
506    67.3    1.64  25.08       0

[149 rows x 4 columns]

##### Exercise 8:
Group the DataFrame df by 'Gender' and calculate the average weight for each gender.

In [8]:
average_weight_per_gender = df.groupby(by='gender')['weight'].mean().round(2).reset_index().set_index('gender').rename(columns={'weight': 'average_weight'})
average_weight_per_gender

        average_weight
gender
0                60.60
1                78.14

##### Exercise 9:
Add a column 'WeightClass' to the DataFrame df with values 'Underweight', 'Normal', 'Overweight', or 'Obese' based on BMI thresholds.

In [9]:
df['WeightClass'] = df['bmi'].apply(lambda x: 'Underweight' if x < 18.5 
                                    else 'Normal' if x >= 18.5 and x < 25 
                                    else 'Overweight' if x >= 25 and x < 30
                                    else 'Obese'
                                    )
print(df.head(10))
df.groupby(by='WeightClass')['WeightClass'].count().rename('Count').reset_index()

   weight  height    bmi  gender WeightClass
0    65.6    1.74  21.67       1      Normal
1    71.8    1.75  23.36       1      Normal
2    80.7    1.94  21.55       1      Normal
3    72.6    1.86  20.87       1      Normal
4    78.8    1.87  22.49       1      Normal
5    74.8    1.81  22.71       1      Normal
6    86.4    1.84  25.52       1  Overweight
7    78.4    1.84  23.03       1      Normal
8    62.0    1.75  20.24       1      Normal
9    81.6    1.84  24.10       1      Normal

   WeightClass  Count
0       Normal    344
1        Obese     18
2   Overweight    132
3  Underweight     13

##### Exercise 10:
Using the df DataFrame, find the tallest male and female in the dataset.

In [10]:
tallest_per_gender = df.groupby(by='gender')['height'].max().reset_index().rename(columns={'height': 'tallest'})
tallest_per_gender

   gender  tallest
0       0     1.83
1       1     1.98

### Hard
##### Exercise 11:
Normalize the 'Height' and 'Weight' columns in df so that they have a mean of 0 and a standard deviation of 1.

In [11]:
normalized_df = df.copy()
normalized_df['height'] = (df['height'] - df['height'].min()) / (df['height'].max() - df['height'].min())
normalized_df['weight'] = (df['weight'] - df['weight'].min()) / (df['weight'].max() - df['weight'].min())
normalized_df.head()

     weight    height    bmi  gender WeightClass
0  0.317204  0.529412  21.67       1      Normal
1  0.400538  0.549020  23.36       1      Normal
2  0.520161  0.921569  21.55       1      Normal
3  0.411290  0.764706  20.87       1      Normal
4  0.494624  0.784314  22.49       1      Normal

##### Exercise 12:
Merge df with another DataFrame df_exercise that includes columns 'ExerciseHours' and 'ID', matching the rows based on an 'ID' column that you need to add to both DataFrames.

In [12]:
# Create df_exercise dataframe
df_exercise = pd.DataFrame({'ID': range(1, 508)})

# Create random exercise hours and add to df_exercise as a new column named ExerciseHours
np.random.seed(0)
df_exercise['ExerciseHours'] = np.random.uniform(0, 10, size=len(df_exercise)).round(2)

# Display the first 5 rows of df_exercise
df_exercise.head()

   ID  ExerciseHours
0   1           5.49
1   2           7.15
2   3           6.03
3   4           5.45
4   5           4.24

In [13]:
# Insert the 'ID' column from df_exercise into df as the first column
df.insert(0, 'ID', df_exercise['ID'])

# Display the first 5 rows of df
df.head()

   ID  weight  height    bmi  gender WeightClass
0   1    65.6    1.74  21.67       1      Normal
1   2    71.8    1.75  23.36       1      Normal
2   3    80.7    1.94  21.55       1      Normal
3   4    72.6    1.86  20.87       1      Normal
4   5    78.8    1.87  22.49       1      Normal

In [14]:
# Merge df and df_exercise on the 'ID' column to create df_combined with the 'ID' column as the index
df_combined = df.merge(df_exercise, on='ID', how='inner').reset_index(drop=True).set_index('ID')

# Display the first 5 rows of df_combined
df_combined.head(10)

    weight  height    bmi  gender WeightClass  ExerciseHours
ID
1     65.6    1.74  21.67       1      Normal           5.49
2     71.8    1.75  23.36       1      Normal           7.15
3     80.7    1.94  21.55       1      Normal           6.03
4     72.6    1.86  20.87       1      Normal           5.45
5     78.8    1.87  22.49       1      Normal           4.24
6     74.8    1.81  22.71       1      Normal           6.46
7     86.4    1.84  25.52       1  Overweight           4.38
8     78.4    1.84  23.03       1      Normal           8.92
9     62.0    1.75  20.24       1      Normal           9.64
10    81.6    1.84  24.10       1      Normal           3.83

##### Exercise 13:
From the DataFrame df , identify any outliers in the 'Weight' column using the IQR (Interquartile Range) method.

In [15]:
# Calculate the interquartile range for the 'weight' column
Q1 = df_combined['weight'].quantile(0.25)
Q3 = df_combined['weight'].quantile(0.75)
IQR = Q3 - Q1

# Calculate the upper and lower bounds for outliers
outliers = df_combined['weight'][(df_combined['weight'] < (Q1 - 1.5 * IQR)) | (df_combined['weight'] > (Q3 + 1.5 * IQR))]
print(outliers)
df_combined.loc[outliers.index]

ID
124    116.4
Name: weight, dtype: float64

     weight  height    bmi  gender WeightClass  ExerciseHours
ID
124   116.4    1.78  36.82       1       Obese           6.44

##### Exercise 14:
Create a categorical encoding for 'Gender' in the DataFrame df where 'Male' is 0 and 'Female' is 1

In [16]:
# Use the .map() method to encode 'male' and 'female' into the 'Gender' column
df['gender'] = df['gender'].map({0: 'male', 1: 'female'})

In [17]:
df.head()

   ID  weight  height    bmi  gender WeightClass
0   1    65.6    1.74  21.67  female      Normal
1   2    71.8    1.75  23.36  female      Normal
2   3    80.7    1.94  21.55  female      Normal
3   4    72.6    1.86  20.87  female      Normal
4   5    78.8    1.87  22.49  female      Normal

In [18]:
df.tail()

      ID  weight  height    bmi gender WeightClass
502  503    71.8    1.76  23.05   male      Normal
503  504    55.5    1.64  20.53   male      Normal
504  505    48.6    1.61  18.82   male      Normal
505  506    66.4    1.74  21.93   male      Normal
506  507    67.3    1.64  25.08   male  Overweight

##### Exercise 15:
Using the DataFrame df, calculate the Pearson correlation coefficient between 'Height' and 'Weight'.

In [19]:
# Calculate pearson correlation matrix for 'weight' and 'height'
df_combined_correlation = df_combined[['weight', 'height']].corr(method='pearson')
df_combined_correlation

          weight    height
weight  1.000000  0.717125
height  0.717125  1.000000

In [20]:
correlation_coefficient = df_combined_correlation.loc['weight', 'height']
f"The pearson coefficient between the 'height' and 'weight' column is: {correlation_coefficient}"

"The pearson coefficient between the 'height' and 'weight' column is: 0.7171245571854339"