# Meeting 6: Groupby Exercises


### Easy Questions
1. How can you group the dataset by `gender`?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/workspaces/DScourse/CourseMaterials/Python_Pandas/data/health_data.csv')
df.head()

   weight  height  gender
0    65.6   174.0       1
1    71.8   175.3       1
2    80.7   193.5       1
3    72.6   186.5       1
4    78.8   187.2       1

In [3]:
df_by_gender = df.groupby('gender')

2. Write a query to find the average `height` by `gender`.

In [4]:
# Find the average height by gender via the groupby object and the mean() method
df_2 = df_by_gender['height'].mean()

# Convert df_2 to a DataFrame with gender as the index and avg_height as the column name
df_2.reset_index().set_index('gender').rename(columns={'height':'avg_height'})

        avg_height
gender
0       164.872308
1       177.745344

3. How can you find the maximum `weight` in each `gender` group?

In [5]:
# Find the maximum weight for each gender group via the groupby object and the max() method
df_3 = df_by_gender['weight'].max()

# Convert df_3 to a DataFrame with gender as the index and max_weight as the column name
df_3.reset_index().set_index('gender').rename(columns={'weight':'max_weight'})

        max_weight
gender
0            105.2
1            116.4

4. Show the count of entries for each `gender`.

In [6]:
# Show the count of each gender via the groupby object and the value_counts() method
df_4 = df_by_gender['gender'].value_counts()

# Convert df_4 to a DataFrame with gender as the index and count as the column name
df_4.reset_index().set_index('gender').rename(columns={'gender':'count'})

        count
gender
0         260
1         247

5. What is the minimum `height` for each `gender` group?

In [7]:
# Find the minimum height for each gender via the groupby object and the min() method
df_5 = df_by_gender['height'].min()

# Convert df_5 to a DataFrame with gender as the index and min_height as the column name
df_5.reset_index().set_index('gender').rename(columns={'height':'min_height'})

        min_height
gender
0            147.2
1            157.2

6. How do you find the total sum of `weight` for each `gender`?

In [8]:
# Find the total sum of weight for each gender via the groupby object and the sum() method
df_6 = df_by_gender['weight'].sum()

# Convert df_6 to a DataFrame with gender as the index and sum_weight as the column name
df_6.reset_index().set_index('gender').rename(columns={'weight':'sum_weight'})

        sum_weight
gender
0          15756.1
1          19301.7

7. Demonstrate how to group by `gender` and get the median `height`.

In [9]:
# Find the median height for each gender via the groupby object and the median() method
df_7 = df_by_gender['height'].median()

# Convert df_7 to a DataFrame with gender as the index and median_height as the column name
df_7.reset_index().set_index('gender').rename(columns={'height':'median_height'})

        median_height
gender
0               164.5
1               177.8

8. Can you find the standard deviation of `weight` within each `gender` group?

In [10]:
# Find the standard deviation of weight for each gender group via the groupby object and the std() method
df_8 = df_by_gender['weight'].std()

# Convert df_8 to a DataFrame with gender as the index and std_weight as the column name
df_8.reset_index().set_index('gender').rename(columns={'weight':'std_weight'})

        std_weight
gender
0         9.615699
1        10.512890

9. Illustrate how to group by `gender` and describe the `height` statistics.

In [11]:
df_by_gender['height'].describe()

        count        mean       std    min    25%    50%     75%    max
gender
0       260.0  164.872308  6.544602  147.2  160.0  164.5  169.50  182.9
1       247.0  177.745344  7.183629  157.2  172.9  177.8  182.65  198.1

10. How would you group by `gender` and get the first entry in each group?

In [12]:
# Find the first entry in each gender group via the .first() method
df_by_gender.first()

        weight  height
gender
0         51.6   161.2
1         65.6   174.0

In [13]:
# Find the first entry in each gender group via the .nth() method
df_by_gender.nth(0)

     weight  height  gender
0      65.6   174.0       1
247    51.6   161.2       0

In [14]:
# Find the first entry in each gender group via the .apply() method 
# with a lambda function that returns the first entry via the .iloc() method
df_by_gender.apply(lambda x: x.iloc[0])

        weight  height  gender
gender
0         51.6   161.2     0.0
1         65.6   174.0     1.0