In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/workspaces/DScourse/CourseMaterials/Python_Pandas/data/health_data.csv")
df

     weight  height  gender
0      65.6   174.0       1
1      71.8   175.3       1
2      80.7   193.5       1
3      72.6   186.5       1
4      78.8   187.2       1
..      ...     ...     ...
502    71.8   176.5       0
503    55.5   164.4       0
504    48.6   160.7       0
505    66.4   174.0       0
506    67.3   163.8       0

[507 rows x 3 columns]

In [3]:
df["height"]

0      174.0
1      175.3
2      193.5
3      186.5
4      187.2
       ...
502    176.5
503    164.4
504    160.7
505    174.0
506    163.8
Name: height, Length: 507, dtype: float64

In [4]:
df.loc[5]

weight     74.8
height    181.5
gender      1.0
Name: 5, dtype: float64

In [5]:
df.loc[5, "height"]

181.5

Create a function that get a dataframe and a list of rows, 
The mean hight of the rows in the list,
1. By using the .loc[] operator

In [6]:
def get_df_mean(df, column, rows=range(len(df) - 1)):
    mean_height = df[column].loc[rows].mean()
    
    if rows == range(len(df) - 1):
        return f"The average {column} in this data is: {round(mean_height, 2)}."
    else:
        return f"The average {column} of the selected rows is: {round(mean_height, 2)}."

In [7]:
df_rows = [0, 1, 2]
get_df_mean(df, "height", df_rows)

'The average height of the selected rows is: 180.93.'

In [8]:
get_df_mean(df, "height")

'The average height in this data is: 171.16.'

2. By using the series.mean() method

In [9]:
def fetch_df_mean(df, column, rows=range(len(df) - 1)):
    s = df[column][rows]
    
    if rows == range(len(df) - 1):
        return f"The average {column} in this data is: {round(s.mean(), 2)}."
    else:
        return f"The average {column} of the selected rows is: {round(s.mean(), 2)}."

In [10]:
fetch_df_mean(df, "weight", df_rows)

'The average weight of the selected rows is: 72.7.'

In [11]:
fetch_df_mean(df, "weight")

'The average weight in this data is: 69.15.'

### Self learning:
write a function that get the gender as an int and  calculate the mean of that gender

In [12]:
def get_gender_num(df):
    male_gen = df["gender"][df["gender"] == 0].count()
    female_gen = df["gender"][df["gender"] == 1].count()
    return f"The data pertains to {male_gen} males and {female_gen} females."

In [13]:
get_gender_num(df)

'The data pertains to 260 males and 247 females.'

2. Get a string "Male" or "Female"

In [16]:
def get_gender(df, row):
    gender = df.loc[row, "gender"]
    
    if gender == 0:
        return "male"
    elif gender == 1:
        return "female"
    else:
        return "unknown"

In [27]:
print(get_gender(df, 0))
print(get_gender(df, 352))
print(get_gender(df, 240))

female
male
female